* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56AAEA;

    .nvb {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            img {
                margin-left: 20px;
                width: 20%;
            }
        }

        .collapseDiv {
            justify-content: center;
            align-items: center;

            .list {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                li {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

main {
    #bgPhoto {
        background: url('/assets/image/paris-1024x735.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;

        .bgPhotoWord {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 14px;

            p {
                font-size: 14px;
                margin-top: 10%;
                color: gray;
            }

            h1,
            h2 {
                color: #565353;
                font-size: 40px;
            }

            .bgPhotoBtn {
                padding: 10px;
                background-color: transparent;
                color: #000;
                border-radius: 10px;
            }
            .bgPhotoBtn:hover{
                background-color: #000;
                color: #fff;

                transition: 0.5s;
            }
        }
    }

    #travelCard {
        margin-top: 5%;

        .cardTravel {
            text-align: center;

            i {
                font-size: 50px;
                color: #4484CE;
            }
        }
    }

    #greece {
        margin-top: 5%;
        background-color: #EFEFEF;

        .greeceImg {
            img {
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

            }
        }
    }

    #paris {
        background-color: #EFEFEF;

        .parisImg {
            img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
            }
        }
    }

    #popular {
        margin-top: 5%;

        .popularTxt {
            text-align: center;
        }

        .popularImg {


            img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    

    #js {
        margin-top: 5%;
        text-align: center;
        #inp{
            padding: 6px;
            background-color: #4484CE;
            color: #fff;
            font-weight: 900;
        }
        #searchBtn{
            padding: 6px;
            background-color: #4484CE;
            color: #000;
        }
        #load{
            padding: 8px;
            background-color: #4484CE;
            color: #000;
        }
        #load:hover{
            background-color: #000;
            color: #4484CE;
            transition: 0.5s;
        }
        #card{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 21px;
            flex-wrap: wrap;
            .cardList {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 14px;
                img {
                    width: 280px;
                    margin-top: 5%;
                }
                h1{
                    color: #000;
                    font-weight: 800;
                    font-size: 40px;
                }
                p{
                    color: #000;
                    font-weight: 800;
                    font-size: 40px;
                }
                .jsBtn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 14px;
                    .btnCard{
                        padding: 8px;
                        background-color: #4484CE;
                        color: #000;
                    }
                    .btnWishlist{
                        padding: 8px;
                        background-color: #4484CE;
                        color: #000;
                    }
                    .btnCard:hover,.btnWishlist:hover{
                        background-color: #000;
                        color: #4484CE;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    #formJs{
        background-color: #ffff00;
        margin-top: 5%;
        #form{
            gap: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }
    }
}
footer{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footerWord{
        margin-left: 10px;
    }
    .footerIcon{
        color: rgb(255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        margin-right: 10px;
    }
}